@model Nop.Plugin.Widgets.MyCustomPlugin.Models.PublicInfoModel
@{
    Layout = "";
}

<div class="Plugin-wrapper topic-block">
    <div id="My-Custom-Plugin" class="topic-block-title">
        @if (Model.UseSandbox)
        {
            <h2>@Model.Message</h2>
        }
        @ViewBag.IsInstaller
        Ba me
    </div>
</div> 